-# %h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.form-group
    = f.label :email,"メールアドレス"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"
  .field.form-group
    = f.label :password,"パスワード"
    %br/
    = f.password_field :password, autocomplete: "current-password" ,class: "form-control"
  - if devise_mapping.rememberable?
    .field.form-group
      = f.check_box :remember_me
      = f.label :remember_me,"ログインを継続する"
  .actions
    = f.submit "ログイン", class: "btn btn-primary"
